.index-refs {
    padding: 0 0.25em 0 0.25em;
}

.card-action-item {
    background-color: transparent;
    border: none;
    color: #3273dc;
    font-size: 16px;
    font-weight: 400;
}

.card-action-item:hover {
    cursor: pointer;
    color: #4a4a4a;
}
