{% extends "base.html" %}
{% block content %}
<div class="content">
    <h2>Listing {{model|capitalize}}s</h2>
    <table>
        <thead>
            <tr>
            {% for a in attrs %}
                <th>{{a}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for r in row %}
                <td>{{r}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{model|capitalize}}s/new">New {{model}}</a>
</div>
{% endblock %}
