[;; enums
 {:db/ident :role/admin}
 {:db/ident :role/manager}
 {:db/ident :role/employee}
 {:db/ident :role/contractor}

 ;; user
 {:db/ident :user/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :user/email
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :user/firstname
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :user/lastname
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :user/ref
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :user/role
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :user/password
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :project/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :project/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :project/ref
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :project/start-date
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}
 {:db/ident :project/end-date
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}
 {:db/ident :project/supervisor
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :project/members
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :log/date
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}
 {:db/ident :log/project
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :log/effort
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one}
 {:db/ident :log/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :log/note
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :timesheet/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :timesheet/supervisor
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :timesheet/start-date
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}
 {:db/ident :timesheet/end-date
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}
 {:db/ident :timesheet/approved?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one}
 {:db/ident :timesheet/submitted?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one}
 {:db/ident :timesheet/logs
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true}

 {:db/id -1
  :user/name "root"
  :user/email "root@kybernetik.io"
  :user/firstname "The"
  :user/lastname "R00T"
  :user/password "bcrypt+sha512$8d230e4425a880cd9aec08c45295c2ef$12$74568287ea8342e4725c4d7028583f7061ceb80a69635b3d"
  :user/ref "TR"
  :user/role :role/admin}
 {:db/id -2
  :user/name "alice"
  :user/email "alice@kybernetik.io"
  :user/firstname "Alice"
  :user/lastname "Bob"
  :user/password "bcrypt+sha512$8d230e4425a880cd9aec08c45295c2ef$12$74568287ea8342e4725c4d7028583f7061ceb80a69635b3d"
  :user/ref "AB"
  :user/role :role/employee}

 {:db/id -3
  :project/title "Lambdaforge Internal"
  :project/description "Clerical tasks"
  :project/start-date #inst "2018-02-28T23:00:00.000-00:00"
  :project/end-date #inst "2030-12-31T23:00:00.000-00:00"
  :project/ref "LI"
  :project/supervisor -1
  :project/members -2}

 {:db/id -4
  :timesheet/user -2
  :timesheet/supervisor -1
  :timesheet/start-date #inst "2020-09-30T23:00:00.000-00:00"
  :timesheet/end-date #inst "2020-10-31T22:59:59.000-00:00"
  :timesheet/approved? false
  :timesheet/submitted? false}

 {:db/id -5
  :log/date #inst "2020-10-01T23:00:00.000-00:00"
  :log/user -2
  :log/project -3
  :log/effort 5.0
  :log/note "Preparations"}
 {:db/id -6
  :log/date #inst "2020-10-02T23:00:00.000-00:00"
  :log/user -2
  :log/project -3
  :log/effort 3.0
  :log/note "Meetings"}
 {:db/id -7
  :log/date #inst "2020-10-04T23:00:00.000-00:00"
  :log/user -2
  :log/project -3
  :log/effort 8.0
  :log/note "Travel"}

 {:db/id -4
  :timesheet/logs [-5 -6 -7]}]
